body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px 5px 15px gray;
}
nav .nav-left img {
  margin-left: 50px;
}
nav .nav-right {
  display: flex;
  margin-right: 50px;
}
nav .nav-right ul {
  display: flex;
}
nav .nav-right ul a {
  text-decoration: none;
  color: black;
}
nav .nav-right ul a:hover {
  color: purple;
}
nav .nav-right ul li {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 20px;
  list-style: none;
}
nav .nav-right img {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.pic-bg {
  margin-top: 1%;
  position: relative;
}
.pic-bg .bg1-content {
  position: absolute;
  top: 20%;
  left: 45%;
}
.pic-bg .bg1-content p {
  font-size: 70px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
}

.product {
  margin-top: 5%;
}
.product h2 {
  margin-left: 5%;
}
.product .show-product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
  flex-wrap: wrap;
}
.product .show-product .card-product {
  background: rgb(244, 163, 224);
  border-radius: 10px;
  padding: 20px;
  width: 18%;
}
.product .show-product .card-product .img {
  display: flex;
  justify-content: center;
}
.product .show-product .card-product .information .name-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 0px;
}
.product .show-product .card-product .information .star-rating {
  display: flex;
  line-height: 5px;
}
.product .show-product .card-product .information .star-rating p {
  font-size: 30px;
}
.product .show-product .card-product .information .button {
  display: flex;
  justify-content: space-between;
}
.product .show-product .card-product .information .button button {
  background: rgb(130, 5, 149);
  border: none;
  padding: 10px;
  width: 70px;
  border-radius: 10px;
  color: white;
}

.bgShoping {
  margin-top: 1%;
  position: relative;
  overflow-x: hidden;
}
.bgShoping .search {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 30%;
}
.bgShoping .search input {
  padding: 20px;
  width: 40%;
  border: none;
  border-radius: 20px;
}
.bgShoping .search i {
  position: absolute;
  background: white;
  padding: 14px;
  border-radius: 20px;
  top: 5%;
  left: 35%;
}

.product .img img {
  width: 170px;
  height: 200px;
}
.product .star-rating i {
  line-height: 40px;
  margin-left: 5px;
}
.product button {
  line-height: 20px;
}

.my-cart {
  padding: 0 20px;
}

.all-cart {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-cart {
  width: 49%;
  background: rgb(243, 176, 243);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card-cart .left {
  margin-left: 5%;
}
.card-cart .left img {
  width: 150px;
}
.card-cart .right {
  display: flex;
  margin-left: 10%;
  justify-content: space-between;
}
.card-cart .right .info p {
  line-height: 10px;
  width: 250px;
}
.card-cart .right .remove {
  margin-top: 65%;
  margin-left: 30%;
}
.card-cart .right .remove i {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

.container-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 20px;
}
.container-card table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  box-shadow: 0px 0px 20px gray;
}
.container-card table thead tr:nth-child(1) {
  background-color: rgb(244, 171, 229);
}
.container-card table th, .container-card table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.container-card table th img, .container-card table td img {
  width: 150px;
}
.container-card table th i, .container-card table td i {
  font-size: 30px;
}
.container-card table th i:nth-child(1), .container-card table td i:nth-child(1) {
  margin-right: 10px;
  margin-left: -10px;
  color: blue;
}
.container-card table th i:nth-child(2), .container-card table td i:nth-child(2) {
  margin-left: 10px;
  margin-right: -10px;
  color: red;
}
.container-card .btn-add {
  text-align: end;
  padding: 10px;
}
.container-card .btn-add button {
  padding: 10px;
  background: purple;
  color: white;
  border: none;
  border-radius: 10px;
}
.container-card .btn-add button:hover {
  color: black;
  background-color: rgb(244, 171, 229);
}/*# sourceMappingURL=main.css.map */