// ______________________Shoping Page____________________________
.bgShoping{
    margin-top: 1%;
    position: relative;
    overflow-x: hidden;
    .product-condition{
        position: absolute;
        top: 30%;
        left: 22%;
        select{
            border: none;
            outline: none;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 19px;
            font-weight: bold;
            color: white;
            background: $color2;
        }
    }
    .search{
        position: absolute;
        width: 100%;
        top: 30%;
        left: 30%;
        input{
            padding: 20px;
            width: 40%;
            border: none;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            outline: none;
        }
        i{  
            position: absolute;
            background: white;
            padding: 14px;
            border-radius: 20px;
            top: 5%;
            left: 35%;
        }

    }
}
.product{
   .img{
    img{
        width: 170px;
        height: 200px;
    }
   }
   .star-rating{
    i{
        line-height: 40px;
        margin: {
            left: 5px;
        };
    }
   }
   button{
    line-height: 20px;
   }
}
@import"detail.scss";