// ______________________________Card Page______________________________
.my-cart{
    // padding:0 20px;
    .total{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $color2;
        padding: 7px;
        margin-bottom: 20px;
        margin-top: 20px;
        color: white;
        h1{
            margin-left: 20px;
        }
        .checkout-price{
            display: flex;
            align-items: center;
            .checkout{
                margin-right: 20px;
                button{
                    padding: 15px;
                    outline: none;
                }
            }
        }
        p{
            margin-right: 20px;
            span{
                margin-left: 10px;
            }
        }
    }
}
.form-checkout{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
   top: 0%;
    dialog{
        top: 7%;
        position: absolute;
        width: 60%;
        background: none;
        .billing-payment{
            display: flex;
            justify-content: space-around;
        }
        input{
            width: 350px;
            padding: 10px;
            outline: none;
        }
        .billing-address{
            background: $color2;
            color: white;
            padding: 20px;
            .icons-address{
                .label-icon{
                    margin-top: 15px;
                }
            }
        }
        .payment{
            background: $color1;
            padding: 20px;;
            .pay{
                display: flex;
                flex-direction: column;
                margin-top: 15px;
            }
            .credit{
                display: flex;
                i{
                    font-size: 35px;
                    margin-left: 10px;
                }
            }
        }
        .btn-checkout{
            margin-top: 20px;
            text-align: end;
            button{
                padding: 15px;
                background: $color2;
                color: white;
                border: none;
                &:hover{
                    background: white;
                    color:black;
                }
            }
            #btn-two{
                background: white;
                color: black;
                &:hover{
                    background: $color2;
                    color: white;
                }
            }
        }
    }
}
.all-cart{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 2%;
}
.card-cart{
    width: 48%;
    background:$color1;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.599);
    .left{
        margin-left: 5%;
        img{
            width: 150px;
        }
    }
    .right{
        display: flex;
        margin-left: 10%;
        justify-content: space-between;
        .info{
            p{
                line-height: 10px;
                width: 250px;
            }
        }
        .remove{
            margin-top: 65%;
            margin-left: 30%;
            i{
                color:red;
                font-size: 30px;
                margin-bottom: 10px;
                
            }
        }
    }
}
.file-empty{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    p{
        font-size: 50px;
        color: rgba(136, 129, 129, 0.567);
    }
}