.login-page{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    dialog{
        display: flex;
        width: 50%;
        top: 15%;
        .login-form{
           margin-top: 20px;
            .yourself{
                display: flex;
                input{
                    padding: 10px;
                    width: 79%;
                }
            }
            .infomation{
                display: flex;
                flex-direction: column;
                input{
                    width: 90%;
                    padding: 10px;
                }
            }
            .button{
                text-align: center;
                margin-top: 20px;
                button{
                    padding: 10px;
                    outline: none;
                    &:nth-child(1){
                        background: $color2;
                        color: white;
                    }
                }
            }
        }
    }
}