@import"variable.scss";
body{
    margin: 0;
    padding: 0;
    
    
}
.container{
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content:space-between ;
    background-color: white;
    box-shadow: 0px 0px 15px gray;
    position: sticky;
    top: 0%;
    .nav-left{
        img{
            margin-left: 50px;
        }
    }
    .nav-right{
        display: flex;
        margin-right: 50px;
        ul{
            display: flex;
            a{
                text-decoration: none;
                color:black;
                &:hover{
                    color:$color2;
                }
            }
            li{
                margin: {
                    left: 20px;
                    right: 20px;
                    top: 15px;
                };
                font-size: 20px;
                list-style: none;
                
            }
        }
        img{
            margin: {
                top: 20px;
                left: 20px;
                right: 20px;
            };
        }
        
    }
}

@import"bg1.scss";
@import"product.scss";
@import"bgShoping.scss";
@import"cart.scss";
@import"seller.scss";
@import"addproduct.scss";
@import"footer.scss";
