.product{
    h2{
        text-align: center;
    }
    .show-product{
        display: flex;
        padding: 50px;
        gap: 30px;
        // justify-content:space-evenly;
        .card-product{
            background:rgb(216, 185, 226);
            border-radius: 10px;
            padding: 20px;
            width: 20%;
            .img{
                display: flex;
                // align-items: center;
                justify-content: center;
            }
        .information{
            .name-price{
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                line-height: 0px;
            }
            .star-rating{
                display: flex;
                line-height: 5px;
                p{
                    font-size: 30px;
                }
                
            }
            .button{
                display: flex;
                justify-content:space-between;
                button{
                    background: rgb(130, 5, 149);
                    border: none;
                    padding: 10px;
                    width: 70px;
                    border-radius: 10px;
                    color: white;
                }
            }
        }
        }
    }
    
}
